body {
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: white;
  padding-top: 80px;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
  z-index: 1;
}
header img {
  height: 50px;
  margin-left: 20px;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  margin-right: 20px;
}

nav li {
  margin-right: 10px;
}

a {
  color: lightgray;
  text-decoration: underline;
}

.mision {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.misionImg {
  margin: 0 auto;

  opacity: 0.6;
}

.misionText {
  width: 100%;
  display: flex;
  position: absolute;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.misionText h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.misionText p {
  margin-top: 5px;
}

.tea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
}

.teaText h2,
p {
  text-align: center;
}

.teaContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.teas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
  flex-direction: column;
}

.teas img {
  width: 300;
  height: 200px;
}

.teas img {
  margin-bottom: 5px;
}
.teas p {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  background-image: url("./images/img-locations-background.jpg");
  width: 90%;
  margin: 0 auto;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
}

.locationsH2 {
  position: absolute;
}

.locationTextContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.locationText {
  display: block;
  background-color: black;
  margin-left: 40px;
  text-align: center;
  width: 300px;
}

.locationText h3 {
  margin-top: 5px;
}

.contact {
  text-align: center;
  height: 200px;
}

footer h5 {
  text-align: left;
}
